flows/Agendamento_de_Visita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>compromisso</name>
        <choiceText>{!Se_Visita}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Se_Visita</elementReference>
        </value>
    </choices>
    <choices>
        <name>CompromissoSeVista</name>
        <choiceText>{!sevisita}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>sevisita</elementReference>
        </value>
    </choices>
    <choices>
        <name>opcaoNAO</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NÃO</stringValue>
        </value>
    </choices>
    <choices>
        <name>opcaoSIM</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SIM</stringValue>
        </value>
    </choices>
    <choices>
        <name>sevisita</name>
        <choiceText>{!compromisso}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Se_Visita</elementReference>
        </value>
    </choices>
    <choices>
        <name>SeVistaCompromisso</name>
        <choiceText>Se Visita</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Se_Visita</elementReference>
        </value>
    </choices>
    <decisions>
        <name>EscolheVisita</name>
        <label>EscolheVisita</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Se_Visita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_Agendar_Visita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escolha_Data_e_Hora</targetReference>
            </connector>
            <label>Se Visita</label>
        </rules>
        <rules>
            <name>SenaoVisita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_Agendar_Visita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NÃO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancela_Agendamento</targetReference>
            </connector>
            <label>Se nao Visita</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Agendamento de Visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agendamento de Visita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Agendamento_de_Visitas</name>
        <label>Agendamento de Visitas</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EscolheVisita</targetReference>
        </connector>
        <fields>
            <name>Deseja_Agendar_Visita</name>
            <choiceReferences>opcaoSIM</choiceReferences>
            <choiceReferences>opcaoNAO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deseja Agendar Visita?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancela_Agendamento</name>
        <label>Cancela Agendamento</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Obrigado</name>
            <fieldText>&lt;p&gt;Obrigado&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Escolha_Data_e_Hora</name>
        <label>Escolha Data e Hora</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Escolha_a_data_e_hora_da_visita</name>
            <dataType>DateTime</dataType>
            <fieldText>Escolha a data e hora da visita</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Agendamento_de_Visitas</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>SevisitaCompromisso</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Se_Visita</elementReference>
        </value>
    </variables>
</Flow>
